.header{
    background-image: url('../../assets/OTVETbackgroundimage.png');
    height: 150px;
    padding-left: 10px;
    font-size: 30px;
}

.image{
    width: 80%;
    margin: auto;
    img{
        width: 100%;
    }
}

.closeButt{
    position: absolute;
    right: -40px;
    box-shadow: none;
}

@media(max-width: 512px){
    .closeButt{
        right: 5px !important;
        top: 5px !important;
    }
}