.header{
    background-image: url('../../assets/OTVETbackgroundimage.png');
    height: 150px;
    font-family: 'Gillroy';
    font-size: 30px;
}
.image{
    width: 80%;
    margin: auto;
    img{
        width: 100%;
    }
}