<div class="container align-items-center justify-content-center py-4">
    <div class="card border-primary">
        <div class="card-header text-primary bg-light">
            <b>Вход в личный кабинет</b>
        </div>
        <form class="card-body" [formGroup]="enterForm" (submit)="onEnterClick()">
            <div class="form-group">
                <label for="login">Логин</label>
                <input id="login" class="form-control" formControlName="login" />
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input id="password" type="password" class="form-control" formControlName="password" />
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="showError">
            Неверный логин или пароль
            </div>
            <button type="submit" class="btn btn-primary">Вход</button>
        </form>
    </div>
</div>