.main{
    background-image: url(../../assets/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: 100%;
    #head{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: normal;
        color: #FFFFFF;
        padding-top: 20px;
        margin-left: 60px;
    }
    #underHead{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        color: #FFFFFF;
        margin-left: 90px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header{
        width: 50%;
    }
    .logos{
        width: 50%;
        padding-right: 70px;
        img{
            cursor: pointer;
            height: 60px;
            margin-top: 10px;
            margin-right: 10px;
            border: 2px solid #FFFFFF;
            box-shadow: 5px 2px 5px #FFFFFF;
        }
    }
    .questions-left{
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: flex-end;
        .questions{
            &:first-child{
                margin-right: 20%;
            }
            &:nth-child(2){
                margin-right: 10%;
            }
            &:last-child{
                margin-right: 0%;
            }
        }
    }
    .img-block{
        width: 20%;
        margin-top: 40px;
        img{
            width: 100%;
        }
    }
    .questions-right{
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: flex-start;
        .questions{
            &:first-child{
                margin-left: 20%;
            }
            &:nth-child(2){
                margin-left: 10%;
            }
            &:last-child{
                margin-left: 0%;
            }
        }
    }
    .questions{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #FFFFFF;
        cursor: pointer;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: normal;
        border-radius: 20px;
        min-height: 40px;
        max-height: 70px;
        padding: 10px;
        margin: 10px;
    }
}

.footer{
    height: 10%;
    padding: 10px;
}