.main{
    background-image: url(../../assets/backgroundimage.png);
    background-size: 100%;
    #head{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: normal;
        color: #FFFFFF;
        width: 20%;
        padding-top: 20px;
        margin-left: 40px;
    }
    #underHead{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        color: #FFFFFF;
        width: 30%;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .questions-left{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 33%;
    }
    .img-block{
        width: 33%;
        margin-top: 40px;
    }
    .questions-right{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 33%;
    }
    .questions{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #FFFFFF;
        cursor: pointer;
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        border-radius: 20px;
        height: 70px;
        width: 60%;
        padding: 10px;
        margin: 10px;
    }
}

.footer{
    height: 10%;
    padding: 10px;
}

img{
    width: 100%;
    margin: auto;
}