<div class="search">
    <form [formGroup]="searchForm" (submit)="search()">
        <input type="text" placeholder="Что тебя интересует?" formControlName="search">
    </form>
</div>
<div class="questions d-flex justify-content-around" *ngIf="questions">
    <div class="ql d-flex flex-column justify-content-between">
        <div *ngFor="let ques of ql" (click)="showAnswer(ques.id)">{{ques.question}}</div>
    </div>
    <div class="qc d-flex flex-column justify-content-between">
        <div *ngFor="let ques of qc" (click)="showAnswer(ques.id)">{{ques.question}}</div>
    </div>
    <div class="qr d-flex flex-column justify-content-between">
        <div *ngFor="let ques of qr" (click)="showAnswer(ques.id)">{{ques.question}}</div>
    </div>
</div>
<div class="w-100 d-flex justify-content-center align-items-center" *ngIf="questions.length == 0">
    <h3>Нет совпадений поиска</h3>
</div>