.search{
    padding-top: 25px;
    width: 60%;
    margin: auto;
    input{
        width: 100%;
        border: 1px solid #F7A192;
        border-radius: 10px;
        background-color: #F7A192;
        color: #FFFFFF;
        padding: 5px;
        &:focus, &:active{
            border: 3px solid #F7A192;
            border-radius: 10px;
        }
        &::placeholder{
            color: #FFFFFF;
        }
    }
    i{
        color: #FFFFFF;
        margin-left: -30px;
        z-index: 5;
        cursor: pointer;
    }
}
.questions{
    margin-top: 30px;
    margin-bottom: 30px;
    .qr{
        div{
            cursor: pointer;
            padding: 5px;
        }
        width: 33%;
        padding-left: 5%;
    }
    .qc{
        border-right: 5px solid #F7A192;
        border-left: 5px solid #F7A192;
        padding-left: 20px;
        padding-right: 20px;
        div{
            cursor: pointer;
            padding: 5px;
        }
        width: 34%;
    }
    .ql{
        div{
            cursor: pointer;
            padding: 5px;
        }
        width: 33%;
        padding-left: 5%;
    }
}

@media(max-width: 512px){
    .search{
        width: 90% !important;
    }
    .questions{
        flex-direction: column;
        .ql{
            border-right: 5px solid #F7A192;
            border-left: 5px solid #F7A192;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 2px;
            margin-left: 2px;
            width: 100% !important;
            align-items: center;
            text-align: center;
            div{
                padding: 10px;
            }
        }
        .qr{
            border-right: 5px solid #F7A192;
            border-left: 5px solid #F7A192;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 2px;
            margin-left: 2px;
            width: 100% !important;
            align-items: center;
            text-align: center;
            div{
                padding: 10px;
            }
        }
        .qc{
            margin-right: 2px;
            margin-left: 2px;
            width: 100% !important;
            align-items: center;
            text-align: center;
            div{
                padding: 10px;
            }
        }
    }
}