.search{
    padding-top: 10px;
    width: 60%;
    margin: auto;
    input{
        width: 100%;
        border: 1px solid #F7A192;
        border-radius: 10px;
        background-color: #F7A192;
        color: #FFFFFF;
        padding: 5px;
        &::placeholder{
            color: #FFFFFF;
        }
    }
    i{
        position: absolute;
    }
}
.questions{
    margin-top: 30px;
    margin-bottom: 30px;
    .qr{
        div{
            cursor: pointer;
            padding: 5px;
        }
        width: 33%;
        padding-left: 5%;
    }
    .qc{
        border-right: 5px solid #F7A192;
        border-left: 5px solid #F7A192;
        padding-left: 20px;
        padding-right: 20px;
        div{
            cursor: pointer;
            padding: 5px;
        }
        width: 34%;
    }
    .ql{
        div{
            cursor: pointer;
            padding: 5px;
        }
        width: 33%;
        padding-left: 5%;
    }
}
